html,
body{
	height: 100%;
	margin: 0;
	padding: 0;
}

#map{
	height: 100%;
}

#menu{
	margin: auto 0;
	position: fixed;
	left: 15px;
  top: 50px;
	background-color: #fff;
  font-family: sans-serif;
}

.search-box{
	width: 100%;
}

#location-list {
	list-style-type: none;
	padding: 10px 10px 0 10px;
}

.list-item{
	word-spacing: 5px;
}